{:deps {org.clojure/clojure {:mvn/version "1.11.1"}
        clj-time/clj-time {:mvn/version "0.15.2"}
        aleph/aleph {:mvn/version "0.6.3"}}
 :aliases
 {:main {:main-opts ["-m" "sample-clojure-app.core"]}
  :build {:deps {io.github.clojure/tools.build {:git/tag "v0.9.4", :git/sha "76b78fe"}}
          :ns-default build}
  :test {:extra-paths ["test"]
         :extra-deps {org.clojure/test.check {:mvn/version "1.1.1"}
                      io.github.cognitect-labs/test-runner
                      {:git/tag "v0.5.1" :git/sha "dfb30dd"}}}}}
